{% extends 'gpacalc/layout.html' %}

{%block content %}
<div class="jumbotron container col-sm-8 col-sm-offset-2 bg">
    <form class="col-md-8 container vertical-center" method="post">
        <label class="header" for="studentName"><h3>Student Name: </h3></label>
        <div class="form-group row">
            <input  class = "input-lg col-md-10" id = "studentName" type="text" name = "studentName" value="Sruti Guhathakurta">
        </div>
        <label class="header" for="college"><h4>College: </h4></label>
        <div class="form-group row">
            <input class="form-control" id="college" name="college" value="Georgia Institute of Technology" style="width:30ch; display: inline-block;">
        </div>
        <label class="header" for="year"><h4>Year: </h4></label>
        <div class="form-group row">
            <select class="form-control" id="year" name="year" style="width:30ch;  display: inline-block;">
                <option value="Freshman">Freshman</option>
                <option value="Sophomore">Sophomore</option>
                <option selected value="Junior">Junior</option>
                <option value="Senior+">Senior+</option>
            </select>
        </div>
        <div class="form-group row">
            <button class="btn btn-default btn-lg col-md-4" name="studentSubmit" type="submit">Submit</button>
        </div>
    </form>
    <div class="col-md-4 container profile-div">
        {% load static %}
        <div class="edit-pic center-block">
            <a href="#"><img class="img" src="{% static 'gpacalc/images/detaultprofile.png' %}"></a>
        </div>
    </div>
</div>


</div>
{% endblock %}

</html>