{% extends 'gpacalc/layout.html' %}

{%block content %}
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand col" href="{% url 'home' %}">Ceegllo</a>
        </div>
        <div class="navbar-collapse navbar-toggleable-xs" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="nav-item active">
                    <a class="dropdown-toggle" href="{% url 'editcollege' %}"data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">College Info<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'editcollege' %}">Past Semesters</a></li>
                        <li><a href="{% url 'editfuture' %}">Future Plan</a></li>
                        <li><a href="{% url 'currentclasses' %}">Current Semester</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ username }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'editprofile' %}">Edit Profile</a></li>
                        <li><a href="{% url 'settings' %}">Settings</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'login' %}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="jumbotron text-center">
    <div class="container">
        <h1>Future Plan</h1>
        <form class="form container">
            <div class="container semester-future">
                <h3 class="form-header">Spring 2017</h3>
                <form class="form future-form">
                    <div class="form-group row class-future">
                        <input type="text" class="form-control form-control-inline class-name" value="CS 1332" style="width:30ch; display: inline-block;">
                        <input type="text" class="form-control form-control-inline cred" value="3" style="width:15ch; display: inline-block;">
                    </div>
                    <div class="form-group row class-future">
                        <input type="text" class="form-control form-control-inline class-name" value="CS 2110" style="width:30ch; display: inline-block;">
                        <input type="text" class="form-control form-control-inline cred" value="4" style="width:15ch; display: inline-block;">
                    </div>
                    <div class="form-group row class-future">
                        <input type="text" class="form-control form-control-inline class-name" value="CS 4641" style="width:30ch; display: inline-block;">
                        <input type="text" class="form-control form-control-inline cred" value="3" style="width:15ch; display: inline-block;">
                    </div>
                    <div class="form-group row class-future">
                        <input type="text" class="form-control form-control-inline class-name" value="CS 1100" style="width:30ch; display: inline-block;">
                        <input type="text" class="form-control form-control-inline cred" value="1" style="width:15ch; display: inline-block;">
                    </div>
                    <div class="form-group row class-future">
                        <input type="text" class="form-control form-control-inline class-name" value="VIP" style="width:30ch; display: inline-block;">
                        <input type="text" class="form-control form-control-inline cred" value="1" style="width:15ch; display: inline-block;">
                    </div>
                    <div class="form-group row add-class">
                        <button type="button" class="form-control btn btn-default" style="width:46ch;">Add Class</button>
                    </div>
                    <div class="form-group row">
                        <button type="submit" class="form-control btn btn-primary" style="width:20ch;">Submit</button>
                    </div>
                </form>
            </div>
            <div class="container semester-future">
                <h3 class="form-header">Fall 2017</h3>
                <form class="form future-form">
                    <div class="form-group row class-future">
                        <input type="text" class="form-control form-control-inline class-name" value="CS 2200" style="width:30ch; display: inline-block;">
                        <input type="text" class="form-control form-control-inline cred" value="4" style="width:15ch; display: inline-block;">
                    </div>
                    <div class="form-group row class-future">
                        <input type="text" class="form-control form-control-inline class-name" value="CS 3600" style="width:30ch; display: inline-block;">
                        <input type="text" class="form-control form-control-inline cred" value="3" style="width:15ch; display: inline-block;">
                    </div>
                    <div class="form-group row class-future">
                        <input type="text" class="form-control form-control-inline class-name" value="CS 3510" style="width:30ch; display: inline-block;">
                        <input type="text" class="form-control form-control-inline cred" value="3" style="width:15ch; display: inline-block;">
                    </div>
                    <div class="form-group row class-future">
                        <input type="text" class="form-control form-control-inline class-name" value="VIP" style="width:30ch; display: inline-block;">
                        <input type="text" class="form-control form-control-inline cred" value="2" style="width:15ch; display: inline-block;">
                    </div>
                    <div class="form-group row add-class">
                        <button type="button" class="form-control btn btn-default" style="width:46ch;">Add Class</button>
                    </div>
                    <div class="form-group row">
                        <button type="submit" class="form-control btn btn-primary" style="width:20ch;">Submit</button>
                    </div>
                </form>
            </div>
        </form>
    </div>
</div>
{% endblock %}

</html>